
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Password Successfully Reset</h1>
<p>
    Your password has successfully bee changed.
</p>

